<% if not logged_in? %>  
<%= controller.redirect_to root_url %>
<% end %>
<% provide(:title, 'Songs') %>
<h1>Songs</h1>
<%= link_to 'New Song', new_song_path , class: "btn btn-primary" %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Hymn</tWh>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.date %></td>
        <td><%= song.name %></td>
        <td><%=check_box_tag 'song[typehymn]', 1, song.typehymn %></td>
        <td> <% if song.data == nil %>
                <%= "Need to upload" %>
              <% else %>
                <%= "Exists" %>
              <% end %></td>
        <td><%= link_to 'Show', song , class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_song_path(song) , class: "btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


