<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @song.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Hymn:</strong>
  <%= @song.typehymn %>
</p>

<p>
  <strong>Data:</strong>
   <% if @song.data == nil %>
          <%= @song.data %>
    <% else %>
        <%= "exists" %>
    <% end %>

</p>


<%= link_to 'Edit', edit_song_path(@song) %> | 
<%= link_to 'Back', songs_path %> | 
<%= link_to 'Download', download_song_path(:id => @song) , target: 'self' %> |
<%= link_to 'Delete data', delete_song_path(:id => @song) %>  
<%= link_to 'New Song', new_song_path %>