<h1>About</h1>

<h2>Powered by:</h2>

    <p> The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
      <%= link_to image_tag("rails.png", alt: "logo about"), 'http://rubyonrails.org/' %></p>
  
  <p><a href="//bibleonline.ru/bible/rus/">Библия онлайн</a> 
<a href="//bibleonline.ru/bible/rus/"><img alt="logo about" src="https://cdn.bibleonline.ru/b/2012/100100.gif" width="100" height="100" alt="Библия Онлайн" border="0" /></a></p>
<p><a href="heroku.com">Heroku</a></p>