<h1>Help</h1>
<p>How to use:</p>
<p>SunWorPro: Sunday Worship Project needs to assemble slides together in one file</p>
<p>Verses: Use it to input list of verses needed for sunday worship. Need to create a file after verses where entered. Verses formatted like: " Genesis 1:1-10, John 3:16"</p>
<p>Songs: Songs which used for sunday worships. Upload song. One song in each file.</p>