<%= form_for(worship_slide) do |f| %>
  <% if worship_slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worship_slide.errors.count, "error") %> prohibited this worship_slide from being saved:</h2>

      <ul>
      <% worship_slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :song1 %>
    <%= f.select :song1_id,  options_for_select(Song.all.order(:name).map{|s|[s.name, s.id]},f.object.song1_id), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :song2 %>
    <%= f.select :song2_id, options_for_select(Song.all.order(:name).map{|s|[s.name, s.id]},f.object.song2_id), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :song3 %>
   <%= f.select :song3_id, options_for_select(Song.all.order(:name).map{|s|[s.name, s.id]},f.object.song3_id), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :song4 %>
    <%= f.select :song4_id, options_for_select(Song.all.order(:name).map{|s|[s.name, s.id]},f.object.song4_id), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :song5 %>
    <%= f.select :song5_id, options_for_select(Song.all.order(:name).map{|s|[s.name, s.id]},f.object.song5_id), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :song6 %>
    <%= f.select :song6_id, options_for_select(Song.all.order(:name).map{|s|[s.name, s.id]},f.object.song6_id), include_blank: true %>
  </div> 
  
  <div class="field">
    <%= f.label :song7 %>
    <%= f.select :song7_id, options_for_select(Song.all.order(:name).map{|s|[s.name, s.id]},f.object.song7_id), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :hymn1 %>
    <%= f.select :hymn1_id, options_for_select(Song.where("name LIKE ?",'[Гимн]%').order(:name).map{|s|[s.name, s.id]},f.object.hymn1_id), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :verse %>
    <%= f.select :verse_id, options_for_select(Slidever.all.order(date: :desc).map{|s|[s.date, s.id]},f.object.verse_id), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :hymn2 %>
    <%= f.select :hymn2_id, options_for_select(Song.where("name LIKE ?",'[Гимн]%').order(:name).map{|s|[s.name, s.id]},f.object.hymn2_id), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :hymn3 %>
    <%= f.select :hymn3_id, options_for_select(Song.where("name LIKE ?",'[Гимн]%').order(:name).map{|s|[s.name, s.id]},f.object.hymn3_id), include_blank: true %>
  </div>
  
  <div class="field">
    <%= f.label :hymn4 %>
    <%= f.select :hymn4_id, options_for_select(Song.where("name LIKE ?",'[Гимн]%').order(:name).map{|s|[s.name, s.id]},f.object.hymn4_id), include_blank: true %>
  </div>
  
  
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
