
<% if not logged_in? %>  
<%= controller.redirect_to root_url %>
<% end %>

<p id="notice"><%= notice %></p>
<% provide(:title, 'Slides') %>
<h1>Worship Slides</h1>
<%= link_to 'New Worship Slide', new_worship_slide_path, class: "btn btn-primary" %>

 <%= will_paginate %>
    <ul class="worship_slide">
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Song1</th>
      <th>Song2</th>
      <th>Song3</th>
      <th>Song4</th>
      <th>Song5</th>
      <th>Song6</th>
      <th>Song7</th>
      <th>Hymn1</th>
      <th>Verse</th>
      <th>Hymn2</th>
      <th>Hymn3</th>
      <th>Hymn4</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    
    <% @worship_slides.each do |worship_slide| %>
      <tr>
        <td><%= worship_slide.date %></td>
        <td><%= if worship_slide.song1 != nil then worship_slide.song1.name  else "" end %></td>
        <td><%= if worship_slide.song2 != nil then worship_slide.song2.name  else "" end %></td>
        <td><%= if worship_slide.song3 != nil then worship_slide.song3.name  else "" end %></td>
        <td><%= if worship_slide.song4 != nil then worship_slide.song4.name  else "" end %></td>
        <td><%= if worship_slide.song5 != nil then worship_slide.song5.name  else "" end %></td>
        <td><%= if worship_slide.song6 != nil then worship_slide.song6.name  else "" end %></td>
        <td><%= if worship_slide.song7 != nil then worship_slide.song7.name  else "" end %></td>
        <td><%= if worship_slide.hymn1 != nil then worship_slide.hymn1.name  else "" end %></td>
        <td><%= if worship_slide.verse != nil then worship_slide.verse.date  else "" end %></td>
        <td><%= if worship_slide.hymn2 != nil then worship_slide.hymn2.name  else "" end %></td>
        <td><%= if worship_slide.hymn3 != nil then worship_slide.hymn3.name  else "" end %></td>
        <td><%= if worship_slide.hymn4 != nil then worship_slide.hymn4.name  else "" end %></td>
        <td><%= link_to 'Show', worship_slide, class: "btn btn-info"  %></td>
        <td><%= link_to 'Edit', edit_worship_slide_path(worship_slide) , class: "btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', worship_slide, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </ul>
    
  </tbody>
  
</table>
<%= will_paginate %>
<br>


