<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @worship_slide.date %>
</p>

<p>
  <strong>Song1:</strong>
  <%= if @worship_slide.song1 != nil then @worship_slide.song1.name else "No song" end%>
</p>

<p>
  <strong>Song2:</strong>
  <%= if @worship_slide.song2 != nil then @worship_slide.song2.name else "No song" end%>
</p>

<p>
  <strong>Song3:</strong>
  <%= if @worship_slide.song3 != nil then @worship_slide.song3.name  else "No song" end %>
</p>

<p>
  <strong>Song4:</strong>
  <%= if @worship_slide.song4 != nil then @worship_slide.song4.name  else "No song" end %>
</p>

<p>
  <strong>Song5:</strong>
  <%= if @worship_slide.song5 != nil then @worship_slide.song5.name  else "No song" end %>
</p>

<p>
  <strong>Song6:</strong>
  <%= if @worship_slide.song6 != nil then @worship_slide.song6.name  else "No song" end %>
</p>

<p>
  <strong>Song7:</strong>
  <%= if @worship_slide.song7 != nil then @worship_slide.song7.name  else "No song" end %>
</p>

<p>
  <strong>Hymn1:</strong>
  <%= if @worship_slide.hymn1 != nil then @worship_slide.hymn1.name  else "No song" end %>
</p>

<p>
  <strong>Verse:</strong>
  <%= if @worship_slide.verse != nil then @worship_slide.verse.date else "No verses" end %>
</p>

<p>
  <strong>Hymn2:</strong>
  <%= if @worship_slide.hymn2 != nil then @worship_slide.hymn2.name  else "No song" end %>
</p>

<p>
  <strong>Hymn3:</strong>
  <%= if @worship_slide.hymn3 != nil then @worship_slide.hymn3.name  else "No song" end %>
</p>

<p>
  <strong>Hymn4:</strong>
  <%= if @worship_slide.hymn4 != nil then @worship_slide.hymn4.name  else "No song" end %>
</p>

<p>
  <strong>Data:</strong>
  <%= if @worship_slide.data != nil then "File created"  else "File need to create" end %>
</p>

<%= link_to 'Edit', edit_worship_slide_path(@worship_slide) , class: "btn btn-secondary" %> |
<%= link_to 'Back', worship_slides_path , class: "btn btn-info"  %> |
<%= link_to 'Download', worship_slide_op_download_path(:id => @worship_slide), target: '_self' , class: "btn btn-success" %> |
<%= link_to 'Delete_data', worship_slide_op_destroy_data_path(:id => @worship_slide) , class: "btn btn-danger" %> 