<%= form_for(@slidever) do |f| %>
  <% if @slidever.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slidever.errors.count, "error") %> prohibited this slidever from being saved:</h2>

      <ul>
      <% @slidever.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :verslist %><br>
    <%= f.text_area :verslist %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
