<li>
  <%#= gravatar_for user, size: 50 %>
  <%= link_to slidever.date.to_s+ " | "+slidever.verslist.to_s , slidever %>
  | <%= link_to 'Download PPTX', download_file_path(:id => slidever),  target: '_self' , class: "btn btn-success" %>
  <% if current_user.admin? %>  
  | <%= link_to "Delete", slidever, method: :delete,
                                  data: { confirm: "You sure?" } , class: "btn btn-danger" %>
  <% end %>
</li>

