
<% if logged_in? %>  


<% provide(:title, 'Slides') %>
<h1>All slides</h1>
<%= link_to 'New Slidever', new_slidever_path, class: "btn btn-primary"  %>
 
    <%= will_paginate %>
    <ul class="slides">
    <%= render @slidevers %>
    </ul>
    <%= will_paginate %>

<p id="notice"><%= notice %></p>



<% else %>
    <%= controller.redirect_to root_url %>
<% end %>