<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @slidever.date %>
</p>

<p>
  <strong>Verslist:</strong>
  <%= @slidever.verslist %>
</p>
<p>
  <strong>Status:</strong>
  <%=  get_job_status(@slidever) %>
</p>

<%= link_to 'Edit', edit_slidever_path(@slidever) , class: "btn btn-secondary" %> |
<%= link_to 'Back', slidevers_path , class: "btn btn-info" %>
<%= link_to 'Download PPTX', download_file_path(:id => @slidever.id),data: {:"no-turbolik" => true}, target: '_self' , class: "btn btn-success" %>
<%= link_to 'Delete PPTX', delete_data_path(:id => @slidever.id) , class: "btn btn-danger" %>
