<%= form_for(@filemaker) do |f| %>
  <% if @filemaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filemaker.errors.count, "error") %> prohibited this filemaker from being saved:</h2>

      <ul>
      <% @filemaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :listverse %><br>
    <%= f.text_area :listverse %>
  </div>
  <div class="field">
    <%= f.label :slidever_id %><br>
    <%= f.text_field :slidever_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
