<p id="notice"><%= notice %></p>

<h1>Listing Filemakers</h1>

<table>
  <thead>
    <tr>
      <th>Listverse</th>
      <th>Slidever</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filemakers.each do |filemaker| %>
      <tr>
        <td><%= filemaker.listverse %></td>
        <td><%= filemaker.slidever_id %></td>
        <td><%= link_to 'Show', filemaker %></td>
        <td><%= link_to 'Edit', edit_filemaker_path(filemaker) %></td>
        <td><%= link_to 'Destroy', filemaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filemaker', new_filemaker_path %>
<%= link_to 'Slidever index', root_path %>