<p id="notice"><%= notice %></p>

<p>
  <strong>Listverse:</strong>
  <%= @filemaker.listverse %>
</p>

<p>
  <strong>Slidever:</strong>
  <%= @filemaker.slidever_id %>
</p>

<%= link_to 'Edit', edit_filemaker_path(@filemaker) %> |
<%= link_to 'Back', filemakers_path %>
