<footer class="footer">

 
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Rails News</a></li>
    </ul>
  </nav>
</footer>